@import (inline) "../bower_components/animate.css/animate.css";
@import "../bower_components/less-easing/less/less-easing.less";
@import "../bower_components/lesshat/build/lesshat.less";

body,
html {
	.display(flex);
	.align-items(center);
	.justify-content(center);
	
	background: #333;
	margin: 0;
	height: 100%;
	font-family: Helvetica, Arial;
	color: #fff;
}

*,
*:after,
*:before {
	.box-sizing(border-box);
}

/*******************************************************

	The "device" viewport (375x667 = iPhone 6)

 *******************************************************/

.device {
	.transition(0.5s);
	.box-shadow(0 25px 50px fade(#000, 35));
	
	max-width: 100%;
	max-height: 100%;
	background: #000;
	position: relative;
	overflow: hidden;
	
	&.device--landscape {
		width: 667px;
		height: 375px;
	}

	&.device--portrait {
		width: 375px;
		height: 667px;
	}
	
}
// .device

.screen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	pointer-events: none;
	z-index: 1;
	overflow: hidden;
	
	.display(flex);
	.align-items(center);
	.justify-content(center);
	.backface-visibility(hidden);
	
	[data-gotoscreen] {
		cursor: pointer;		
	}
	
	&.screen--visible {
		visibility: visible;
		pointer-events: auto;
		z-index: 2;
	}
	
	&.animated {
		.animation-duration(0.65s);
		.animation-timing-function(@easeInOutCirc);
	}
	
}
// .screen


/*******************************************************

	Individual screens

 *******************************************************/

.screen--first {
	background: #c00;
	
	p {
		.transition(0.5s);
	}
	
	// animating in

	&.animate-in {
		
		p {
			.scale(2);
			opacity: 0;
		}
		
	}
	
	// animating out

	&.animate-out {
		
		p {
			.translate(0, 50px);
			opacity: 0;
		}
		
	}

}
// .screen--first

.screen--second {
	background: green;
}
// .screen--second

.screen--third {
	background: pink;
}
// .screen--third


/*******************************************************

	Custom animations (not included in animate.css)

 *******************************************************/
	
// custom animations

.zoomOutIn {
  -webkit-animation-name: zoomOutIn;
  animation-name: zoomOutIn;
}

// custom keyframes

.keyframes(~'zoomOutIn, 0% { transform: scale(1.25); opacity: 0; } 100% { opacity: 1; }');
.keyframes(~'flicker, 0% { opacity: 1; } 65% { opacity: 1; } 67% { opacity: 0.5; } 69% { opacity: 1; } 70% { opacity: 0.5; } 71% { opacity: 1; } 76% { opacity: 1; } 78% { opacity: 0.5; } 80% { opacity: 1; }');

// override animate.css

.keyframes(~'zoomIn, 0% { transform: scale(0.75); opacity: 0; } 100% { opacity: 1; }');
.keyframes(~'zoomOut, 100% { transform: scale(0.75); opacity: 0; } 0% { opacity: 1; }');
//.keyframes(~'fadeInLeft, 0% { transform: translate(-20%, 0) scale(0.9); opacity: 0; } 100% { opacity: 1; }');
//.keyframes(~'fadeInRight, 0% { transform: translate(20%, 0) scale(0.9); opacity: 0; } 100% { opacity: 1; }');
//.keyframes(~'fadeOutLeft, 100% { transform: translate(-20%, 0) scale(0.9); opacity: 0; } 0% { opacity: 1; }');
//.keyframes(~'fadeOutRight, 100% { transform: translate(20%, 0) scale(0.9); opacity: 0; } 0% { opacity: 1; }');


